@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
  
  --color-primary-400: #22d3ee;
  --color-primary-500: #06b6d4;
  --color-primary-600: #0891b2;
  
  --color-background: #020617; /* Slate-950 */
  --color-foreground: #f8fafc; /* Slate-50 */
  --color-surface: #0f172a; /* Slate-900 */
  --color-surface-hover: #1e293b; /* Slate-800 */
  --color-border: #334155; /* Slate-700 */
}

@layer base {
  :root {
    --background: #020617;
    --foreground: #f8fafc;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
